* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
body {
  background: #d3d3d3;
}
html {
  scroll-behavior: smooth;
}
ul li {
  list-style: none;
}
a {
  text-decoration: none;
}
.container {
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
}
.upper {
  border: 10px solid transparent;
  border-radius: 50px;
  background: #ff6652;
  width: max-content;
  padding: 4px 6px;
  animation-name: upper;
  animation-iteration-count: 1;
  animation-duration: 0.7s;
  animation-direction: normal;
  position: fixed;
  left: -350px;
  top: 80vh;
  display: none;
  cursor: pointer;
}
.show {
  display: block;
}
.arrow {
  width: 20px;
  height: 20px;
}
@keyframes upper {
  from {
    transform: translateX(-200px);
  }
  to {
    transform: translateX(10px);
  }
}
