.form1 {
  position: fixed;
  top: 4vh;
  left: -6vw;
  width: 67vw;
  max-height: 100vh;
  height: 100%;
  z-index: 1;
  padding: 90px;
  display: flex;
  justify-content: space-between;
  background: #ffffff;
  border-radius: 15px;
  transition: all ease 1s;
  transform: translateX(400px);
  display: none;
}
.fomr1-title {
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  color: #0a033c;
  margin-bottom: 30px;
  margin-top: 15px;
}
.form1photo {
  width: 396px;
  height: 392px;
}
.google-llnk {
  background: #ffffff;
  border: 1px solid #dedde4;
  border-radius: 10px;
  padding: 10px;
  width: 300px;
  padding-right: 60px;
}
.form-bot {
  display: flex;
  flex-direction: column;
}
.form-bot-title {
  text-align: center;
  margin: 20px 0;
}
label {
  margin-bottom: 5px;
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  color: #0a033c;
}
.form-bot input {
  margin-bottom: 20px;
  padding: 10px;
  background: #ffffff;
  border: 1px solid #dedde4;
  border-radius: 10px;
  outline: none;
}
.signup-btn {
  padding: 10px 0;
  text-align: center;
  background: #9c4df4;
  border-radius: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  color: #ffffff;
  border: none;
  width: 350px;
  margin: 25px 0;
}
.signin-link {
  color: #9c4df4;
  text-align: center;
  cursor: pointer;
}
.show {
  display: flex;
  transition: all ease 1s;
  transform: translateX(400px);
}
.main-blur {
  filter: blur(5px);
}
.checkbox {
  display: flex;
  align-items: center;
  column-gap: 12px;
}
.close-btn {
  width: 24px;
  height: 24px;
  position: absolute;
  right: 30px;
  top: 37px;
  cursor: pointer;
}
.back-btn {
  width: 30px;
  height: 30px;
  position: absolute;
  left: 30px;
  top: 37px;
  cursor: pointer;
}
@media only screen and (max-width: 375px) {
  .icons {
    display: flex;
    align-items: center;
  }
  .form1 {
    position: fixed;
    top: 1vh;
    left: 0;
    width: 17vw;
    max-height: 10vh;
    height: 100%;
    z-index: 1;
    padding: 90px;
    display: flex;
    justify-content: space-between;
    background: #ffffff;
    border-radius: 15px;
    transition: all ease 1s;
    transform: translateX(400px);
    display: none;
  }
  .form1__left{
    display: none;
  }
}
