.form1 {
  position: fixed;
  top: 140px;
  left: 220px;
  width: 900px;
  max-height: 800px;
  height: 100%;
  z-index: 1;
  padding: 100px 90px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #ffffff;
  border-radius: 15px;
}
.fomr1-title {
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  color: #0a033c;
  margin-bottom: 30px;
  margin-top: 15px;
}

