header {
  padding-top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.header__center nav {
  display: flex;
}
.logo {
  margin-right: 40px;
}
.header__center a {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  color: #0a033c;
  column-gap: 10px;
  padding: 0 12px;
  position: relative;
}
.header__right a {
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  color: #0a033c;
}
.header__right a {
  display: flex;
  column-gap: 10px;
  align-items: center;
}
.header__right {
  display: flex;
  column-gap: 35px;
}

.dropdown {
  position: absolute;
  top: 18px;
  border: 2px solid transparent;
  left: 30px;
  border-radius: 18px !important;
  transition: all cubic-bezier(0.95, 1.36, 0.28, 0.14) 0.5s;
  z-index: 1;
  padding: 10px;
  background-color: #ffffff;
  display: none;
}
.dropdown li {
  color: #ff6652;
  background: #ffffff;
  padding: 20px 45px;
  line-height: 20px;
  letter-spacing: 2px;
  font-weight: 600;
  transition: all ease 0.3s;
}
.dropdown li:hover {
  background: #ff6652;
  color: #fff;
  transition: all ease 0.6s;
  border-radius: 8px;
}
.header__center a:hover .dropdown {
  display: block;
}
.header__right {
  position: relative;
}
.form1-active {
  cursor: pointer;
}
.burger,.menu {
  display: none;
}
//------respons 375-----

@media only screen and (max-width: 375px) {
  .logo {
    width: 99px;
    height: 28px;
  }
  .header__center,
  .header__right {
    display: none;
  }
  .burger {
    display: block;
  }
  .menu {
    position: absolute;
    top: 40px;
    left: 80px;
    background: #ffe1a0;
    padding: 15px 25px;
    width: 330px;
    transition: all ease 0.4s;
    transform: translateX(-100px);
    display: none;
  }
  .menu nav {
    row-gap: 10px;
    display: flex;
    flex-direction: column;
  }
  .menu a {
    color: white;
    font-weight: 600;
    letter-spacing: 2px;
  }
  .menu-show{
    transition: all ease 0.9s;
    transform: translateX(-10px);
    display: block;
  }
}
