.lessons-title {
  font-weight: 700;
  font-size: 45px;
  line-height: 55px;
  text-align: center;
  color: #0a033c;
}
.lessons-subtitle {
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  text-align: center;
  color: #5d5a6f;
  width: 600px;
  margin: 20px auto;
}
.lesson-menu {
  display: flex;
  justify-content: center;
  column-gap: 50px;
  margin-top: 70px;
}
.lesson-menu p {
  padding: 20px 30px;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #0a033c;
  transition: all ease 0.4s;
}
.lesson-menu p:hover {
  color: #ffffff;
  transition: all ease 0.7s;
  background: #ff6652;
  box-shadow: 0px 15px 50px rgba(255, 102, 82, 0.2);
  border-radius: 10px;
  transform: translateY(-10px);
}

// -------card------

.lessons__bot {
  display: grid;
  grid-template-columns: auto auto auto auto;
  column-gap: 40px;
  row-gap: 40px;
  margin-top: 65px;
}
.lesson-card {
  background: #ffffff;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 30px 15px;
  max-width: 290px;
  width: 100%;
  transition: all ease 0.4s;
}
.card-subtitle {
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: #5d5a6f;
  margin: 15px 0 25px 0;
}
.card-title {
  font-weight: 600;
  font-size: 25px;
  line-height: 25px;
  margin-top: 20px;
  color: #0a033c;
}

.card-number {
  background: #ffb54a;
  border-radius: 100%;
  padding: 1rem;
  width: 50px;
  height: 50px;
  display: inline-block;
  margin: 0 auto;
  color: #ffffff;
  font-weight: 800;
  font-size: 1.2rem;
}
.card-btn {
  padding: 12px 30px;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #9c4df4;
  background: transparent;
  border: 1px solid #9c4df4;
  border-radius: 5px;
  transition: all ease 0.4s;
}
.card-btn:hover {
  background: #9c4df4;
  color: #ffffff;
  transition: all ease 0.6s;
}
.card-number2,
.card-number4 {
  background: #424242;
}
.card-number3,
.card-number5 {
  background: #00b59b;
}
.card-number6 {
  background: #ff6529;
}
.card-number7{
  background: #FF3333;
}
.lesson-card:hover{
  transition: all ease 0.8s;
  transform: scale(1.08);
}