* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #D3D3D3;
  font-family: "Montserrat", sans-serif;
}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
}

header {
  padding-top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__center nav {
  display: flex;
}

.logo {
  margin-right: 40px;
}

.header__center a {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  color: #0a033c;
  -moz-column-gap: 10px;
       column-gap: 10px;
  padding: 12px;
  position: relative;
}

.header__right a {
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  color: #0a033c;
}

.header__right a {
  display: flex;
  -moz-column-gap: 10px;
       column-gap: 10px;
  align-items: center;
}

.header__right {
  display: flex;
  -moz-column-gap: 35px;
       column-gap: 35px;
}

.dropdown {
  position: absolute;
  top: 40px;
  left: 30px;
  display: none;
  border-radius: 8px;
  transition: all cubic-bezier(0.95, 1.36, 0.28, 0.14) 0.5s;
  border-radius: 18px;
  z-index: 1;
}

.dropdown li {
  color: #ff6652;
  background: #ffffff;
  padding: 20px 45px;
  line-height: 20px;
  letter-spacing: 2px;
  font-weight: 600;
  transition: all ease 0.3s;
}

.dropdown li:hover {
  background: #4b4545;
  transition: all ease 0.6s;
}

.header__center a:hover .dropdown {
  display: block;
}

.hero {
  display: flex;
  justify-content: space-between;
}

.hero-white-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  color: #ff6652;
  background: #ffffff;
  border-radius: 10px;
  padding: 15px 20px;
  display: inline-block;
  transition: all ease 0.6s;
}

.hero-white-title:hover {
  color: #ffffff;
  background: #ff6652;
  transition: all ease 0.9s;
  transform: scale(1.1);
  transform: translateY(-10px);
}

.hero__left {
  margin-top: 130px;
}

.hero-title {
  font-weight: 700;
  font-size: 65px;
  line-height: 75px;
  color: #0a033c;
  margin-top: 15px;
  margin-bottom: 30px;
}

.hero-subtitle {
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: #5d5a6f;
  width: 607px;
}

.hero__left-bottom form {
  display: flex;
  align-items: center;
  background-color: white;
  border-radius: 10px;
  width: 607px;
}

#hero-select {
  padding: 22px;
  background: transparent;
  border: none;
  outline: none;
}

#hero-select option {
  padding: 10px;
  background-color: #0a033c;
  display: inline-block;
  color: white;
  height: 10px;
}

.hero-input {
  background: transparent;
  outline: none;
  border: none;
  padding: 22px;
}

.hero__left-bottom {
  margin-top: 40px;
  overflow: hidden;
}

.hero-btn {
  background: #9c4df4;
  border-radius: 10px;
  padding: 15px 30px;
  border: none;
  display: flex;
  align-items: center;
  margin-left: 120px;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  transition: all ease 0.6s;
}

.hero-btn:hover {
  transition: all ease 0.5s;
  box-shadow: 0 0 15px #9c4df4;
}

.hero-btn:active {
  transition: all ease 0.5s;
  transform: scale(0.8);
  box-shadow: 12px 5px 0 #9c4df4;
}

.hero-btn img {
  background: transparent;
}

.bg {
  background-repeat: no-repeat;
  height: 669px;
  z-index: 1;
  margin-top: 100px;
}

.hero__right {
  position: relative;
}

.book {
  width: 80px;
  height: 80px;
  background-image: url(../images/icons/book.svg);
  background-repeat: no-repeat;
  display: inline-block;
  background-position: center;
  padding: 15px;
  background-color: #ffffff;
  box-shadow: 0px 25px 70px rgba(10, 3, 60, 0.15);
  border-radius: 10px;
  position: absolute;
  top: 82px;
  -webkit-animation-name: book;
          animation-name: book;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-duration: 8s;
          animation-duration: 8s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}

@-webkit-keyframes book {
  0% {
    top: 82px;
  }
  5% {
    left: 5px;
  }
  10% {
    left: 10px;
  }
  15% {
    left: 15px;
  }
  20% {
    left: 20px;
  }
  30% {
    left: 25px;
  }
  40% {
    left: 30px;
    background-image: url(../images/icons/presentation.svg);
  }
  50% {
    left: 35px;
    top: 380px;
  }
  100% {
    background-image: url(../images/icons/light.svg);
    top: 150px;
    left: 345px;
  }
}

@keyframes book {
  0% {
    top: 82px;
  }
  5% {
    left: 5px;
  }
  10% {
    left: 10px;
  }
  15% {
    left: 15px;
  }
  20% {
    left: 20px;
  }
  30% {
    left: 25px;
  }
  40% {
    left: 30px;
    background-image: url(../images/icons/presentation.svg);
  }
  50% {
    left: 35px;
    top: 380px;
  }
  100% {
    background-image: url(../images/icons/light.svg);
    top: 150px;
    left: 345px;
  }
}/*# sourceMappingURL=main.css.map */